.form {
  margin-top: 54px;
}

.form__input {
  width: 100%;
  padding-bottom: 13.3px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.21;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.form__save-btn {
  margin-top: 18px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  transition: opacity 1s ease-out;
}

.form__save-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .form {
    margin-top: 76px;
  }

  .form__input {
    padding-bottom: 9px;
  }
  .form__save-btn {
    font-size: 14px;
    line-height: 1.21;
    margin-top: 16px;
  }
}
