.header {
  margin: 0 auto 0;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 41px;
}
.header__logo {
  margin-top: 45px;
}

@media screen and (max-width: 900px) {
  .header {
    max-width: 100%;
    padding-bottom: 32px;
  }
  .header__logo {
    margin: 28px auto 0 27px;
    max-width: 126px;
  }
}
