.popup-box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  box-sizing: border-box;
}

.popup-box__container {
  width: 430px;
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  padding: 34px 36px 36px;
  box-sizing: border-box;
}

.popup-box__close-btn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../images/Close-Icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  transition: opacity 1s ease-out;
}

.popup-box__close-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

.popup-box__edit-profile {
  margin: 0;
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
}

.popup-box_opened {
  display: flex;
}

@media screen and (max-width: 650px) {
  .popup-box__container {
    max-width: 282px;
    padding: 25px 22px 25px;
  }
  .popup-box__edit-profile {
    font-size: 18px;
    line-height: 1.2;
  }
  .popup-box__close-btn {
    width: 26px;
    height: 26px;
    right: 0;
  }
}
