.profile {
  margin: 40px auto 0;
  display: flex;
  max-width: 880px;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
}

.profile-info {
  margin: 0 auto 0 30px;
  max-width: 415px;
  display: flex;
  column-gap: 18px;
  row-gap: 16px;
  flex-wrap: wrap;
  align-items: center;
}

.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__job {
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-btn {
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url(../images/eddit-btn.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
  transition: opacity 1s ease-out;
}

.profile__edit-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-btn {
  width: 150px;
  height: 50px;
  background-color: transparent;
  background-image: url(../images/add-btn.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
  padding: 0;
  transition: opacity 1s ease-out;
}

.profile__add-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .profile {
    margin: 40px auto;
    width: 320px;
  }
}

@media screen and (max-width: 580px) {
  .profile {
    flex-direction: column;
    justify-content: center;
  }
  .profile-info {
    display: flex;
    justify-content: center;
    row-gap: 14px;
    column-gap: 10px;
    max-width: 282px;
    margin: 0;
  }
  .profile__add-btn {
    width: 282px;
  }
  .profile__name {
    margin-top: 26.25px;
  }

  .profile__job {
    width: 282px;
  }
  .profile__add-btn {
    margin-top: 36px;
  }
  .profile__edit-btn {
    margin-top: 26.25px;
  }
}

@media screen and (max-width: 900px) {
  .profile {
    margin: 40px auto;

    max-width: 80%;
  }
  .profile__name {
    font-size: 22px;
    line-height: 1.22;
  }
  .profile__edit-btn {
    width: 18px;
    height: 18px;
  }
  .profile__job {
    font-size: 14px;
    line-height: 1.21;
    margin: 0;
    text-align: center;
  }
}
