.element {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

.element__image {
  display: block;
  width: 282px;
  height: 282px;
  border-radius: 10px;
  cursor: pointer;
}

.popup-box__image {
  display: block;
  max-width: 75vw;
  max-height: 75vh;
  margin: 0;
}

.caption {
  margin: 10px 0 0;
}

.element__info {
  max-width: 246px;
  display: flex;
  justify-content: space-between;
  margin: 25px 15px 31px 21px;
}

.element__paragraph {
  margin: 0;
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__like {
  width: 21px;
  height: 19px;
  background-image: url(../images/like-btn.svg);
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  border: none;
  background-color: transparent;
}

.element__like:hover {
  cursor: pointer;
  color: #000;
  opacity: 0.5;
}

.element__like_active {
  background-image: url(../images/like-active.svg);
}

.element__delete-icon {
  width: 18px;
  height: 19.3px;
  border: none;
  background-color: transparent;
  background-image: url(../images/delete-btn.svg);
  position: absolute;
  right: 15px;
  top: 18px;
}

.element__delete-icon:hover {
  cursor: pointer;
  opacity: 0.6;
}
